.showsPage {
  padding: 1rem;
}
.showsPage > h2 {
  margin-bottom: 1rem;
}
.showsList {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  max-width: 100vw;
}
@media (min-width: 360px) {
  .showsList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 600px) {
  .showsList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .showsList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .showsList {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .showsList {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
